* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1000px; 
    width: 100%; 
    background-color: black; 
} 

#hero-image {
    background-image: url(../images/nightsky.jpeg);
    background-color: black; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%; 
    width: 100%; 

}

#intro {
    background-color: white;
    border-style: solid; 
    border-color: black;
    border-width: 5px;
    border-radius: 5px; 
    padding: 1px 10px;

    
    /* Text styling */ 
    text-align: center;
    text-justify: center;
    margin: auto;
    width: 33%;
    height: 43%;
}

#intro h1 {
    padding: 2% 10%;
    font-size: 2em;
}

#intro p {
    font-size: 2em;
}

#second-text p {
    /* Text styling */ 
    text-align: center;
    text-justify: center;
    color: red;
    padding-bottom: 50%;
}

/* Wizard's Tower Logo Styling */
#logo { 
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

/* Player Name */

#name {
    padding-top: 8%;
    font-size: 2em;
}

#nameButton {
    width: 33%;
    height: 33%;
}

/* Fade in text */ 

@keyframes fadein {
    0%{opacity: 0;}
    100% {opacity: 1;}
}

.fade{
    animation: fadein 3s ;

}

@keyframes fadein2 {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100% {opacity: 1;}
}

.fade2{
    animation: fadein2 3s ;

}